<div class='roomedit'>
	<div class='roomedit-header'>
		<p>Edit Room</p>

		<hr>
	</div>
	<% if @rooms %>  
	  <form action="/room/<%= @rooms.id %>" method="post" id="edit">  
	    <input type="hidden" name="_method" value="put">  
	    <h3> Room name: </h3>
	    <input name="nroom_name" placeholder="<%= @rooms.name %>"></input>
	    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
	  </form>  
	  <a type="button" class="btn btn-danger btn-lg" href="/room/<%= @rooms.id %>/delete">Delete</a>
	    

	<% else %>  
	  <p>No such Room found!</p>  
	<% end %>
</div>